{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/register.css">

	<div class="register my-5 mb-5">
		<div class="register-form mx-auto">
			<h1 class="text-light">Hi ! Not have an account yet ?
				<a href="{{path('homepage')}}#register-section">Just create One</a>
			</h1>
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
																				                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																				                    See https://symfony.com/doc/current/security/remember_me.html
																				            
																				                    <div class="checkbox mb-3">
																				                        <label>
																				                            <input type="checkbox" name="_remember_me"> Remember me
																				                        </label>
																				                    </div>
																				                #}

				<div class="text-center mt-3">
					<button type="submit" class="btn btn-lg btn-success">SignIn</button>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
