{% extends "base.html.twig" %}

{% block title %}
	Local Results
{% endblock %}

{% block body %}

	<div class="container my-5">
		<h1>What
			{{amap.name}}
			could offer you :</h1>
		<div class="row">


			<div class="col-md-10">

				<div class="jumbotron bg-light box-shadow">
					<h1 class="display-4">
						<strong class="text-success">Hello, we are
							{{ amap.name }}
							!</strong>
					</h1>
					<hr class="my-4">
					<div class="card my-3">
						<div class="card-header">
							<h2 class="text-success">
								You can find us at :
							</h2>
						</div>
						<div class="card-body">
							<p class="mb-0">{{ amap.adress }}</p>
							<p class="mb-0">{{amap.postalCode }}
								{{ amap.city }}</p>
						</div>
					</div>
					<div class="card my-3">
						<div class="card-header">
							<h2 class="text-success">
								You can contact us  :
							</h2>
						</div>
						<div class="card-body">
							<p class="mb-0">please call at :
								<a href="tel:{{ amap.phoneNumber }}">
									{{amap.phoneNumber}}
								</a>
							</p>
							<p class="mb-0">
								or email us at
								<a href="mailto:{{amap.email}}">
									{{amap.email}}
								</a>
							</p>
						</div>
					</div>
					<div class="card my-3">
						<div class="card-header">
							<h2 class="text-success">
								Any Other information should be here :
							</h2>
						</div>
						<div class="card-body">
							<p>
								{{ amap.informations }}</p>
						</div>
					</div>


					<div class="card my-3">
						<div class="card-header">
							<h2 class="text-success">
								Our Baskets :
							</h2>
						</div>
						<div class="card-body">

							<div class="row">
								{% for b in amap.basketsVegetable %}
									<div class="col-md-6 my-2">

										<div class="card">
											<div class="card-header bg-success text-white">
												<h3>
													{{ b.name }}
													-
													{{ b.price }}€
												</h3>
											</div>
											<div class="card-body">
												<img src="/assets/img/baskets.jpg" alt="baskets" class="w-100 mb-3">
												<blockquote class="blockquote mb-0">
													<p>{{ b.description }}</p>
													<footer class="blockquote-footer">
														{% for p in b.products %}
															{{ p.name }},
														{% endfor %}
													</footer>
												</blockquote>
											</div>
										</div>
										<br/>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="card my-3">
						<div class="card-header">
							<h2 class="text-success">
								Our Products :
							</h2>
						</div>
						<div class="card-body">
							<ul>

								{% for p in amap.products %}

									<li>
										{{ p.name }}
									</li>
								{% endfor %}
							</ul>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
