<title>
	Déli-Veggie
</title>
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/31118a9bfc.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/css/homepage.css">
{% endblock %}
{% block body %}
	<header>
		<div class="container">

			<div class="text-center presentation-div text-light ">
				<h1 class="text-uppercase">
					deli-veggie</h1>
				<h4>
					<i>
						For	all your desires</i>
				</h4>

			</div>


			<div class="card bg-light mb-3 mt-5">
				<div class="card-header">
					<h2 class="text-info font-weight-bold">
						Your favourite organic farm and AMAP delivered to your door !
					</h2>
				</div>
				<div class="card-body">
					<h4 class="card-title">Enter Your City or Postal Code and find local farm and amap !</h4>
					<form class="card-text" action="{{path('user_research_amap')}}" method="post">
						<div class="input-group mb-3">
							<input type="text" id="input-search-local" name="localisation-input" class="form-control form-control-lg" placeholder="city or postal code ..." aria-label="city name or postal code" aria-describedby="button-addon2">
							<button class="btn btn-success btn-lg" type="submit" id="button-addon2">Search</button>
						</div>
						<a href="/">Log in</a>
						for your recent addresses.
					</form>
				</div>
			</div>
		</div>
	</header>

	<section class="pt-5">

		<div class="container">
			<h2>What's on our baskets ?</h2>
			<div class="row d-flex">
				<div class="col-md-5">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Vegetables</h3>

						<img src="/assets/img/vegetables.jpg" alt="vegetables"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>

						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>


							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 ml-auto">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Fruits</h3>

						<img src="/assets/img/red-fruts.jpg" alt="fruits"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>

						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>


							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Baskets</h3>

						<img src="/assets/img/baskets.jpg" alt="baskets"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>
							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 ml-auto">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Organic Food</h3>

						<img src="/assets/img/ab_eurofeuille.jpg" alt="organic"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>

						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>


							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Cheese</h3>

						<img src="/assets/img/cheese.jpg" alt="cheese"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>
							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-5 ml-auto">
					<div class="card mb-3">
						<h3 class="card-header bg-success">Eggs</h3>

						<img src="/assets/img/eggs.jpg" alt="eggs"/>
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>

						<div class="card-footer d-flex">

							<a href="/">Learn more
							</a>


							<a class="ml-auto" href=" #input-search-local">
								Find around me
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="mt-5" id="register-section">
		<div class="container">
			<h1>Work with deli-Veggie or Just use the app</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-3 bg-info">

						<img src="/assets/img/farm.jpg" alt="farm"/>

						<div class="card-body">
							<h3 class="text-uppercase">Farm or Amap</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="{{path('amap_register')}}" class="btn btn-light btn-lg">
								Sign In</a>

						</div>

					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-3 bg-warning">

						<img src="/assets/img/riders.jpg" alt="riders"/>

						<div class="card-body">
							<h3 class="text-uppercase">Riders</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="/" class="btn btn-light btn-lg">
								Sign In</a>

						</div>

					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-3 bg-danger">

						<img src="/assets/img/users.jpg" alt="users"/>

						<div class="card-body">
							<h3 class="text-uppercase">
								Users</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="{{path('client_register')}}" class="btn btn-light btn-lg">
								Sign In</a>

						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	{% include "shared/_footer.html.twig" %}
{% endblock %}
