{% extends "base.html.twig" %}

{% block title %}
	Local Results
{% endblock %}

{% block body %}

	<div class="container my-5">
		<h1>Need To make an other research ? :</h1>

		<div class="card bg-light mb-3 mt-5">
			<div class="card-header">
				<h2 class="text-info font-weight-bold">
					Your favourite organic farm and AMAP delivered to your door !
				</h2>
			</div>
			<div class="card-body">
				<h4 class="card-title">Enter Your City or Postal Code and find local farm and amap !</h4>
				<form class="card-text" action="{{path('user_research_amap')}}" method="post">
					<div class="input-group mb-3">
						<input type="text" id="input-search-local" name="localisation-input" class="form-control form-control-lg" placeholder="city or postal code ..." aria-label="city name or postal code" aria-describedby="button-addon2">
						<button class="btn btn-success btn-lg" type="submit" id="button-addon2">Search</button>
					</div>
					<a href="/">Log in</a>
					for your recent addresses.
				</form>
			</div>
		</div>
		<h1>Hi, this is result around you :</h1>

		<div class="row">


			{% for amap in amaps %}
				<div class="col-md-6">

					<div class="jumbotron bg-light box-shadow">
						<h1 class="display-4">
							<strong class="text-success">{{ amap.name }}</strong>
						</h1>
						<hr class="my-4">
						<p class="mb-0">{{ amap.adress }}</p>
						<p class="mb-0">{{amap.postalCode }}
							{{ amap.city }}</p>
						<p class="mb-0">{{ amap.phoneNumber }}</p>
						<p>{{ amap.informations }}</p>
						<p class="lead">
							<a class="btn btn-info" href="{{path('amap_details', {"id": amap.id})}}" role="button">More informations</a>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
