{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/register.css">

	<div class="register my-5 mb-5">
		<div class="register-form mx-auto">
			<h1 class="text-light">Welcome in Deli-Veggie ! Register to ordre baskets and products !</h1>

			<h3 class="text-light">Already user ? Please
				<a href="{{path('app_login')}}">log in
				</a>
				!</h3>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.name, {
            label: 'Name of your association or farm *'
        }) }}

			{{ form_row(registrationForm.adress, {
            label: 'Adress *'
        }) }}
			{{ form_row(registrationForm.postalCode, {
            label: 'ZIP Number or CP *'
        }) }}
			{{ form_row(registrationForm.city, {
            label: 'City *'
        }) }}
			{{ form_row(registrationForm.phoneNumber, {
            label: 'Phone Number *'
        }) }}

			{{ form_row(registrationForm.email, {
            label: 'Email *'
        }) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password *'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}
			<div class="text-center">
				<button type="submit" class="btn btn-lg btn-success">Register</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
