body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    background: linear-gradient(#d7e0c9a2, #8aec9abd);
}

.box-shadow {
    box-shadow: 2px 2px 3px 3px rgb(54, 211, 15) !important;
}