header {
    height: 25%;
    padding: 25px;
    width: 100%;
    background-image: url("../assets/img/bg-header.jpg");
    background-position: center;
    background-size: cover;
}

.presentation-div {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(197, 224, 156, 0.7);
}

.presentation-div h1 {
    font-size: 5em;
    text-shadow: 5px 5px rgb(54, 211, 15);
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}