body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    background: linear-gradient(#d7e0c9a2, #8aec9abd);
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
}



.presentation-div {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(197, 224, 156, 0.7);
}

.presentation-div h1 {
    font-size: 10em;
    text-shadow: 5px 5px rgb(54, 211, 15);
}

.presentation-div h4 {
    font-size: 5em;
    text-shadow: 3px 3px rgb(54, 211, 15);
}