body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../assets/img/bg-register.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.register-form {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(197, 224, 156, 0.7);
    width: 50%;

}