{% extends 'base.html.twig' %}

{% block title %}Add Basket to Amap Shop
{% endblock %}

{% block body %}

    <div class="container p-5">
        <div class="profilamap my-5 mb-5">
            <div class="profilamap-form mx-auto">
                <h4 class="text-primary">Select type of Basket to be sold in your shop</h4>
                <fieldset class="form-group">
                    {{ form_start(basketForm) }}
                        {{ form_row(basketForm.name) }}
                        {{ form_row(basketForm.description) }}
                        {{ form_row(basketForm.price) }}
                        {{ form_row(basketForm.products) }}
                        <button class="btn btn-warning" type="submit" role="button">Add Basket</button>
                    {{ form_end(basketForm) }}
                </fieldset>
                <a class="btn btn-success" href="{{ path('dashboard_amap') }}" role="button">Return to Dashboard</a>
            </div>
        </div>
    </div>

{% endblock %}