{% extends 'base.html.twig' %}

{% block title %}Add one product to Amap Shop
{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="profilamap my-5 mb-5">
            <div class="profilamap-form mx-auto">
                <h4 class="text-primary">Select the products to be sold in your shop !</h4>
                <fieldset class="form-group">
                    {{ form_start(productForm) }}
                        {{ form_row(productForm.products) }}
                        <button class="btn btn-warning" type="submit" role="button">Add product</button>
                    {{ form_end(productForm) }}
                </fieldset>
                <a class="btn btn-success" href="{{ path('dashboard_amap') }}" role="button">Return to Dashboard</a>
            </div>
        </div>
    </div>

{% endblock %}