{% extends 'base.html.twig' %}

{% block title %}DashBoard Amap {{ app.user.name }}
{% endblock %}

{% block body %}

	<div class="container p-5">
		<div class="jumbotron">
			<h1 class="display-4" id="welcomeAmap">Hi
				<strong class="text-primary">{{ app.user.name }}</strong>
			</h1>
			<hr class="my-4">
			<p class="mb-0">{{ app.user.adress }}</p>
			<p class="mb-0">{{ app.user.postalCode }}
				{{ app.user.city }}</p>
			<p class="mb-0">{{ app.user.phoneNumber }}</p>
			<p id="informationsAmap">{{ app.user.informations }}</p>
			<p class="lead">
				<a class="btn btn-info" href="{{ path('edit_amap') }}" role="button">Modify informations</a>
			</p>
		</div>

		<div class="mb-3">
			<h3 class="text-primary">What do you have to sell today ?</h3>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">List products</h4>
							<p class="card-text">All products in your shop.</p>
						</div>
						<ul class="list-group list-group-flush">
							{% for p in app.user.products %}
								<li class="list-group-item">{{ p.name }}</li>
							{% endfor %}
						</ul>
						<div class="card-body">
							<a class="btn btn-warning" href="{{ path('create_product') }}" role="button">Add product</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">List Basket</h4>
							<p class="card-text">All baskets in your shop.</p>
							{% for basket in app.user.basketsVegetable %}
								<div class="card">
									<div class="card-header bg-success text-white" id="basketNamePrice">
										{{ basket.name }}
										-
										{{ basket.price }}€
									</div>
									<div class="card-body">
										<blockquote class="blockquote mb-0">
											<p id="basketDescription">{{ basket.description }}</p>
											<footer class="blockquote-footer" id="basketProductName">
												{% for product in basket.products %}
													{{ product.name }}
												{% endfor %}
											</footer>
										</blockquote>
									</div>
								</div>
								<br/>
							{% endfor %}
							<a class="btn btn-success" href="{{ path('create_basket') }}" role="button">Add veggies/fruits basket</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
