{% extends 'base.html.twig' %}

{% block title %}Edit Profil Amap
{% endblock %}

{% block body %}
	{# <link rel="stylesheet" href="/css/profilamap.css"> #}

    <div class="container p-5">
        <div class="profilamap my-5 mb-5">
            <div class="profilamap-form mx-auto">
                <h1 class="text-primary">Edit to profil in Deli-Veggie !</h1>

                {{ form_start(amapProfilForm) }}
                    {{ form_row(amapProfilForm.name, {
                        label: 'Name of your association or farm '
                    }) }}
                    {{ form_row(amapProfilForm.bio, {
                        label: 'Organic ? '
                    }) }}
                    {{ form_row(amapProfilForm.adress, {
                        label: 'Adress '
                    }) }}
                    {{ form_row(amapProfilForm.postalCode, {
                        label: 'ZIP Number or CP '
                    }) }}
                    {{ form_row(amapProfilForm.city, {
                        label: 'City '
                    }) }}
                    {{ form_row(amapProfilForm.phoneNumber, {
                        label: 'Phone Number '
                    }) }}
                    {{ form_row(amapProfilForm.informations, {
                        label: 'More Informations '
                    }) }}
                    {{ form_row(amapProfilForm.website, {
                        label: 'If you have a website, please specify'
                    }) }}
                    {{ form_row(amapProfilForm.email, {
                        label: 'Email '
                    }) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-warning">Edit Profil</button>
                </div>
                {{ form_end(amapProfilForm) }}
                <a class="btn btn-success" href="{{ path('dashboard_amap') }}" role="button">Return to Dashboard</a>
            </div>
        </div>
    </div>

{% endblock %}