{% extends 'base.html.twig' %}

{% block title %}DashBoard Client
	{{ app.user.name }}
{% endblock %}

{% block body %}

	<div class="container p-5">
		<div class="jumbotron">
			<h1 class="display-4">Hi
				<strong class="text-primary">{{ app.user.name }}</strong>
			</h1>
			<hr class="my-4">
			<p class="mb-0">{{ app.user.adress }}</p>
			<p class="mb-0">{{ app.user.postalCode }}
				{{ app.user.city }}</p>
			<p class="mb-0">{{ app.user.phoneNumber }}</p>
			<p class="lead">
				<a class="btn btn-info" href="#" role="button">Modify informations</a>
			</p>
		</div>

		<div class="mb-3">
			<h3 class="text-primary">Your Last orders :
			</h3>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">New order ?</h4>
							<p class="card-text">Let's discovers new amap and farms arround you ...</p>
							<a class="btn btn-warning" href="{{path('user_research_amap')}}" role="button">Find a new Product</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
