<footer class="bg-dark text-light py-2">
	<div class="col-md-12 text-center border-bottom border-secondary py-3">
		<h6>Suivez nous sur nos réseaux
		</h6>
		<p>
			<a href="#" target="_blank">
				<i class="fab fa-instagram fa-2x"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-facebook fa-2x"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-twitter fa-2x"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fab fa-youtube fa-2x"></i>
			</a>
			<a href="#" target="_blank">
				<i class="fas fa-envelope fa-2x"></i>
			</a>
		</p>
	</div>
	<div class="container text-center">
		<div class="row py-3">
			<div class="col-md-4">
				<h6>
					Infos
				</h6>
				Deli-Veggie
				<br/>
				California
				<br/>
			</div>
			<div class="col-md-4">
				<h6>Contact</h6>
				<a href="#">contact@deliveggie.com</a>
				<h6>Newsletter</h6>
				<form action="">
					<input type="mail" class="" name="mail-newsletter" placeholder="adresse@mail.com">
					<button class="btn btn-light btn-sm">Go</button>
				</form>
			</div>
			<div class="col-md-4">
				<h6>Mentions légales</h6>
				<a href="#">
					CGU
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-12 border-secondary border-top text-center pt-2 font-weight-light">
		<i>
			Site créer et développer par
			<a target="_blank" href="https://yeunlefloch.com">
				Yeun LE FLOCH
			</a>
			et
			<a target="_blank" href="https://juliedrouin.github.io/Portfolio/">
				Julie JOURDROUIN
			</a>
			avec le thème lumen de bootswatch - Freelance pour &copy;Deli-Veggie.
		</i>
	</div>
</footer>
